<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
    <h1>Editar Usuário</h1>
    <form action="{{ url_for('update_user', user_id=user.id) }}" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" value="{{ user.name }}" required>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required>
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
