<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Example</title>
</head>
<body>
    <h1>Usuários</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} - {{ user.email }}
                <a href="{{ url_for('edit_user', user_id=user.id) }}">Editar</a>
                <a href="{{ url_for('delete_user', user_id=user.id) }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Adicionar Usuário</h2>
    <form action="/add" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
